/* Banco-Front/style.css */
body {
  background-image: url('../img/fundo_site.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
}
button {
  padding: 0.5rem;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #2980b9;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}
h2 {
  margin-top: 30px;
  border-bottom: 3px solid #899496;
  padding-bottom: 5px;
  text-align: center;
}
section {
  margin-bottom: 20px;
}
input, button {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
#extrato-list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #000000;
  padding: 5px;
  width: 320px;
}
#extrato-list li {
  border-bottom: 1px solid #000000;
  padding: 5px 0;
  text-align: center;
}
#message {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.flex-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}
#transferencia-form {
border-radius: 30px;
background-color: #f9f9f9;
text-align: center;
}
#usuario_destino {
width: 90%;
margin: 10px auto;
border: #3498db solid 1px;
border-radius: 5px;

}
#valor_transferencia {
width: 90%;
margin: 10px auto;
border: #3498db solid 1px;
border-radius: 5px;

}
#valor_deposito {
width: 90%;
margin: 10px auto;
border: #3498db solid 1px;
border-radius: 5px;
}
#deposito-form {
  border-radius: 30px;
  background-color: #f9f9f9;
  text-align: center;
}
#valor_saque {
width: 90%;
margin: 10px auto;
border: #3498db solid 1px;
border-radius: 5px;
}
#saque-form {
  border-radius: 30px;
  background-color: #f9f9f9;
  text-align: center;
}
#dados-usuario {
text-align: center;
}
#logout-btn {
  width: 50px;
    height: 40px;
    border-radius: 50%;
    background-color: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
} 
#titulo-principal {
position: absolute;
text-align: center;
top: 10px;
left: 400px;
margin: 10px;
padding: 10px;
font-size: 24px;
}